@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-dark-one: #363636;
  --color-dark-two: #262626;
  --color-dark-three: #1e1e1e;
  --color-txt-light: #fafafa;
  --color-txt-less-dull: #cccccc;
  --color-txt-dull: #b3b3b3;
}

body {
  background: var(--color-dark-two);
  color: var(--color-txt-light);
}
